html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu-icons {
  color: rgb(0, 119, 255);
}

.toasted {
  top: 55px;
  right: 15px;
  position: absolute;
  min-width: 280px;
  z-index: 9;
}

/* ----------- Loading ------------- */
@import url("./loading.css");

/* ----------- Products ------------- */
@import url("./product.css");

/* ----------- Profile ------------- */
@import url("./profile.css");

/* ----------- Products Manager ------------- */
@import url("./products_manager.css");

.dropdown-toggle::after {
  display: none;
}

.d1 {
  border-radius: 50%;
  transform: translateY(-3px);
  margin-right: 3px;
}
